---
import Layout from '../../layouts/Layout.astro';

const title = "Shapify";
const description = "3D printed figurines: 3D print yourself using a 3D portrait made in Shapify Booth.";
---

<Layout {title} {description}>
<div class='page-eva site-width'>
<h1>3D scan customers and make mini 3D figures with Artec Eva.</h1>
<p class='sub-text'>A present everyone will love!</p>
<div class='cover-eva'>
<iframe src='https://www.youtube.com/embed/LcS9fxQICtE'></iframe>
</div>
<div class='page-eva--whats-eva'>
<h3>What is Artec Eva</h3>
<p>Artec Eva is the industry standard handheld 3D scanner used for capturing the human body. It was even used to make a 3D presidential portrait of Barak Obama! Using white light 3D scanning technology, it ensures safe, fast and accurate data capture. You can use this lightweight 3D scanner to make a digital portrait of adults and children, with each 3D scanning session taking around 5 minutes.</p>
</div>
<div class='page-eva--start'>
<h3>Start a successful 3D body scanning business</h3>
<p>3D printed figures are a unique, fun and creative way to create fantastic memories of unforgettable moments such as birthdays, weddings, graduation, pregnancy and many others. A great and innovative gift idea, these mini figures will always be in high demand, and making them is simpler than you think. The smart combination of Artec Eva and a lightweight, portable battery pack gives you the freedom to scan absolutely anyone and everywhere. Take your 3D scanning kit to special events and capture the magic moments wherever they may happen. Creating the perfect gift has never been easier.</p>
</div>
<div class='page-eva--models'>
<p class='sub-text'>Click on the images below to see</p>
<h3>shapies made by the Artec Eva</h3>
<div class='row'>
<div class='col-md-6 col-sm-12'>
<div class='sketchfab-embed-wrapper'>
<iframe allowfullscreen='' allowvr='' frameborder='0' height='480' mozallowfullscreen='true' onmousewheel='' src='https://sketchfab.com/models/1bc58e07cfff4d14990873a3b3b33685/embed' webkitallowfullscreen='true'></iframe>
</div>
</div>
<div class='col-md-6 col-sm-12'>
<div class='sketchfab-embed-wrapper'>
<iframe allowfullscreen='' allowvr='' frameborder='0' height='480' mozallowfullscreen='true' onmousewheel='' src='https://sketchfab.com/models/0b1f3d0d5d344585a45dcc8d54d0378e/embed' webkitallowfullscreen='true'></iframe>
</div>
</div>
<div class='col-md-6 col-sm-12'>
<div class='sketchfab-embed-wrapper'>
<iframe allowfullscreen='' allowvr='' frameborder='0' height='480' mozallowfullscreen='true' onmousewheel='' src='https://sketchfab.com/models/9162e7f46eff404aaab2e31bc24c2ce8/embed' webkitallowfullscreen='true'></iframe>
</div>
</div>
<div class='col-md-6 col-sm-12'>
<div class='sketchfab-embed-wrapper'>
<iframe allowfullscreen='' allowvr='' frameborder='0' height='480' mozallowfullscreen='true' onmousewheel='' src='https://sketchfab.com/models/aff55320ab4f43a9a814e09d03fece11/embed' webkitallowfullscreen='true'></iframe>
</div>
</div>
</div>
</div>
<div class='page-eva--tech-specs grey-block'>
<p class='sub-text'>Artec Eva:</p>
<h3>Tech specs</h3>
<figure>
<img alt="Artec Eva" class="page-eva--tech-specs--eva" src="/../assets/eva/eva-72cb9655a53a63d33fddb3d87f001bcbea86db3c81b46b900b8fa253d58e1fe1.svg" />
<span class='page-eva--tech-specs--camera2'>Another camera</span>
<span class='page-eva--tech-specs--camera'>Camera one</span>
<span class='page-eva--tech-specs--flash'>30 Led Flash</span>
<span class='page-eva--tech-specs--texture'>Texture camera two</span>
</figure>
<div class='flex-container'>
<div class='page-eva--tech-specs--weight'>
<span class='graytext'>Lightweight</span>
<br>
<span class='darktext'>Only 0.85kg</span>
</div>
<div class='page-eva--tech-specs--time'>
<span class='graytext'>Scanning time</span>
<br>
<span class='darktext'>5 minutes</span>
</div>
<div class='page-eva--tech-specs--model'>
<span class='graytext'>3D printable model</span>
<br>
<span class='darktext'>from 30 minutes</span>
</div>
<div class='page-eva--tech-specs--polygon'>
<span class='graytext'>Polygons</span>
<br>
<span class='darktext'>Up to 1M</span>
</div>
<div class='page-eva--tech-specs--throughput'>
<span class='graytext'>Throughput</span>
<br>
<span class='darktext'>
Up to 30 customers
<br>
per day
</span>
</div>
</div>
</div>
<div class='business-model-description'>
<div class='h3'>Bussiness model. What you need to get started:</div>
<div class='h4'>Artec Eva 3D scanner</div>
<div class='optimal-count-models optimal-count-models--main'>$19 800</div>
<span class='line'>
<span class='line--subline'></span>
</span>
<div class='row'>
<div class='col-md-6'>
<div class='h4'>Artec Studio 11 Professional</div>
<p>3D scanning and processing software</p>
<i>1 lifetime license of AS11 version</i>
<br>
<br>
<div class='optimal-count-models'>$1 450</div>
</div>
<div class='col-md-6'>
<div class='h4'>Artec Studio Professional</div>
<p>3D scanning and processing software</p>
<i>
1-year subscription, guaranteeing you to always
<br>
be equipped with the very latest version of Artec Studio
</i>
<div class='optimal-count-models'>$600</div>
</div>
</div>
</div>
<div class='business-model-scheme business-model-scheme1'>
<p class='sub-text'>Artec Eva:</p>
<h3>How it works</h3>
<div class='page-eva--tech-specs--capture'>
<b>Capture a person</b>
<br>
or couple with the Artec Eva 3D scanner and Artec Studio 3D software
</div>
<div class='page-eva--tech-specs--process-lines'></div>
<div class='page-eva--tech-specs--process'>
<b>Process the 3D model</b>
<br>
using Artec Studio
</div>
<div class='page-eva--tech-specs--print'>
<b>The mini 3D figure</b>
<br>
is printed out on a
3D printer
</div>
</div>
<div class='business-model-scheme business-model-scheme2'>
<iframe src='https://www.youtube.com/embed/QwMu1zKTA4M'></iframe>
</div>
<div class='form-booth'>
<h3>Compatible computer</h3>
<p class='sub-text'>Tech requirements</p>
<div class='row'>
<div class='col-md-10 col-md-offset-1'>
<div class='col-md-3'>
<label class='control-label'>Processor:</label>
Intel I5 or I7
<br>
<label class='control-label'>Memory:</label>
12 GB
</div>
<div class='col-md-4'>
<label class='control-label'>Video cards:</label>
NVIDIA, AMD, or Intel
<br>
<label class='control-label'>OS:</label>
Windows 7, 8, 10 – x64
</div>
<div class='col-md-5'>
<label class='control-label'>Free disk space:</label>
300 MB for installation
<br>
<a href="https://www.artec3d.com/3d-scanner/artec-eva#specifications">More on tech requirements</a>
</div>
</div>
</div>
</div>
<div class='grey-block text-center page-eva--feedback-form'>
<h3>Want to learn more about the industry standard Artec Eva 3D scanner?</h3>
<p>
Fill out the short form below or email us at
<a href="mailto:sales@artec-group.com">sales@artec-group.com</a>
and we will contact you as soon as we can with further information
</p>
<div class='row'>
<div class='col-md-6 col-sm-12 center'>
<form action="#" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="YanLDHVg1F7HmyCHfgG5p0nGL/c56bUCogBTQpjJYksYjZ1SpY8/bEYRma1nodOJAZ4qtK/5oJLrBiYFSDR3lg==" />
<div class='form-group'>
<input type="text" name="first_name" id="first_name" style="display:none; padding:0; width:1px; height:1px;" />
</div>
<div class='form-group'>
<label for="name">Name</label>
<input type="text" name="name" id="name" />
</div>
<div class='form-group'>
<label for="email">E-mail</label>
<div class='large-field'>
<input type="email" name="email" id="email" />
</div>
<label class="shift-label" for="phone">Phone</label>
<input type="tel" name="phone" id="phone" />
</div>
<div class='form-group form-submit'>
<input type="submit" name="commit" value="Submit" class="btn btn-warning" data-disable-with="Submit" />
</div>
</form>

</div>
</div>
</div>
<h3 class='clear-title'>Already making 3D figures with your Eva?</h3>
<br>
<p class='text-center'>
Let us know at
<a href="mailto:support@shapify.me">support@shapify.me</a>
and we will add your business
<br>
to our
<a href="/scanning-point">scanning point map</a>
for everyone to see!
<br>
<br>
Find out more about
<strong>Artec Eva</strong>
on
<a href="https://www.artec3d.com">www.artec3d.com</a>
</p>
</div>

</div>
<div class='footer-booth-wrapper'>
<div class='footer-bottom-booth'>
</Layout>