---
import Layout from '../layouts/Layout.astro';

const title = "Make your own personalized custom action figure | Shapify";
const description = "3D printed figurines: 3D print yourself using a 3D portrait made in Shapify Booth.";
---

<Layout {title} {description}>
</div>
<div class='site-width page-action-figure'>
<div class='text-width'>
<h1>Get a custom action figure made as easy as 1-2-3!</h1>
<p>
When you were a kid, chances are, you had different action figures among your stack of toys:
superheroes that fought the bad guys,
pretty dolls with long silky hair and a bunch of different color dresses,
and we all wanted to be a little like them.
Well, we have some great news for you!
Now, with the use of Artec’s amazing 3D scanning technology you can!
</p>
<h2>Let’s make it personal!</h2>
<p>
3D printing, as with other kinds of 3D technology,
has developed significantly in recent years.
Now, together with Artec’s most popular scanner,
you can make custom action figures easier than ever before.
Personalized figures of yourself in 3D are a great way to mark memorable occasions,
such as graduation, wedding or an anniversary. You can also capture multiple people
and even animals to create a unique family portrait in 3D!
Personalized action figures can be presented to your nearest and dearest on birthdays,
christenings and many other occasions that require an unforgettable gift.
</p>
<h2>How does it work?</h2>
<p>
Although it might all sound like rocket science, it is quite simple to create your own custom action figure:
</p>
</div>
<div class='site-width'>
<div class='row'>
<div class='column'>
<div class='card'>
<div class='card-header'>
Step 1
</div>
<div class='card-body'>
<img alt="Scanning ponts map" class="step-img" src="/assets/sh-map-1117198aa1bb63eaf09e0b309f97501e976b23ef0bcc7126b3a73264f517bd60.png" />
</div>
<div class='card-footer'>
<p>
Find a scanning point that uses either Shapify Booth or Eva handheld 3D scanner.
We have all of them listed on our scanning point map, making it easier to find the closest one to you.
</p>
</div>
</div>
<div class='card'>
<div class='card-header'>
Step 3
</div>
<div class='card-footer'>
<p>
Strike a pose and get ready to be scanned!
Both Eva scanner and Shapify Booth are absolutely safe to use and guarantee amazing results each time.
Your whole body is scanned from head to toe in a matter of seconds or minutes,
and all you have to worry about is just standing there, looking great!
</p>
</div>
</div>
<div class='card last-row'>
<div class='card-header'>
Step 5
</div>
<div class='card-footer'>
<p>
Once you are happy with the way the 3D model looks, you can also decide on how large it’s going to be,
choosing from a range of different sizes.
</p>
</div>
</div>
</div>
<div class='column'>
<div class='card'>
<div class='card-header'>
Step 2
</div>
<div class='card-body'>
<iframe src='https://www.youtube.com/embed/QwMu1zKTA4M'></iframe>
</div>
<div class='card-footer'>
<p>
Show up for the scanning session.
Think of what you would like your action figure to look like and
don’t worry of you are not sure, scanning specialists will help you choose the best position.
For the best results, watch this video on full body scanning with loads of helpful tips
and tricks, before going in to get 3D scanned.
</p>
</div>
</div>
<div class='card'>
<div class='card-header'>
Step 4
</div>
<div class='card-footer'>
<p>
The data from your 3D scan will be fused into a 3D model that you can view
and edit prior to 3D printing your figure.
</p>
</div>
</div>
<div class='card last-row'>
<div class='card-header'>
Step 6
</div>
<div class='card-footer'>
<p>
A custom action figure of yourself is printed out from quality materials
and ready for you to collect and show off to your friends and family.
Go on, we know you want to!
</p>
</div>
</div>
</div>
</div>
<div class='examples-block'>
<h3>
Here are some examples of personalized 3D action figures.
With vivid colors and fine details, they are almost as good as the real thing!
</h3>
<div class='row'>
<div class='example'>
<img loading="lazy" alt="Love figure" class="example-figure-img" src="/assets/love-28eabc0abc5d9dc21fa594284faee8e0d84201c59f1d84638d7f9ee4c37dd3e3.png" />
<div class='figure-description'>
Lifelike action figures of yourself <br>
and your loved ones
</div>
</div>
<div class='example'>
<img loading="lazy" alt="Wedding figure" class="example-figure-img" src="/assets/wedding-7ba2208c8a6cc9443cfb78f88792496822c6321fc5f4ec26b2133ba6e5840aaa.png" />
<div class='figure-description'>
A great way to remember <br>
your big day
</div>
</div>
<div class='example'>
<img loading="lazy" alt="Pirates figure" class="example-figure-img" src="/assets/pirates-eda3abd8c9f3de7fd0a00bdda479ae05732e166655d6532d52fe0340e7040bf2.png" />
<div class='figure-description'>
Capture your treasured memories <br>
in a whole new way
</div>
</div>
</div>
<div class='row'>
<div class='example'>
<img loading="lazy" alt="Romantic figure" class="example-figure-img-big" src="/assets/romantic-4ac94f0e4efc5cddeeb51e45ac4f31e86d368d07b95fc30a598b2ea64b14a874.png" />
<div class='figure-description'>
Custom action figures of you and your partner
</div>
</div>
<div class='example'>
<img loading="lazy" alt="Figure with pet" class="example-figure-img" src="/assets/pet-63d7911cbc2bc3c704954211c2dff59e3f5083c33c8a79ba437d7f979b717f0f.png" />
<div class='figure-description'>
Only for good dogs who stay very still!
</div>
</div>
</div>
</div>
<div class='quotes-block'>
<div class='quote pull-left'>
<div class='quote_item'>
<p>
…this isn’t a 3D print you’d get from a standard 3D printer.
This is a totally different material that is full color and, thanks to the powerful high-resolution scans,
has some crazy fidelity to it.
</p>
<div class='quote_autor pull-right'>
<div class='quote_autor_name'></div>
<a target="_blank" class="hidden-link" href="https://geekdad.com/2016/10/shapify-my-life/">Will James- Geekdad</a>
</div>
</div>
</div>
<div class='quote pull-right'>
<div class='quote_item'>
<p>
We are confident customers will embrace this technology.
While it’s still wonderful to have collections of photos,
the Shapify Booth offers a new way to revisit a memory with a 3D portrait.
</p>
<div class='quote_autor pull-right'>
<div class='quote_autor_name'></div>
<a target="_blank" class="hidden-link" href="https://3dprint.com/94202/shapify-booth-allows-houstonians-to-3d-print-themselves/">Hannah Rose Mendoza</a>
<div class='quote_autor_company'>3D print.com</div>
</div>
</div>
</div>
<div class='quote pull-left'>
<div class='quote_item small'>
<p>It’s like looking in the mirror. Wow!</p>
<div class='quote_autor pull-right'>
<div class='quote_autor_name'></div>
<a target="_blank" class="hidden-link" href="https://www.youtube.com/watch?time_continue=147&amp;v=AkUq1MBkE_A">Rohan Mohanty</a>
<div class='quote_autor_company'>Chasing News</div>
</div>
</div>
</div>
</div>
<div class='link-block'>
<h2>Getting the perfect gift has never been easier, so don't wait!</h2>
<div class='links'>
<div>
Want to get your custom action figure? <br>
<a href="/scanning-point">Click here</a>
to find a scanning spot near you! 
</div>
<div>
Thinking about creating amazing 3D figurines <br>
yourself?
<a href="/partner/eva">Click here</a>
to check out the best 3D scanner
to get you started!
</div>
</div>
</div>
</div>
</div>
<div class='footer-booth-wrapper'>
<div class='footer-bottom-booth'>
</Layout>