---
import Layout from '../layouts/Layout.astro';

const title = "Make a 3D printed figurine: 3D portraits, 3D selfie figure";
const description = "3D printed figurines: 3D print yourself using a 3D portrait made in Shapify Booth in a matter of minutes. Shapify is a simple, user-friendly service to get your Shapie — your 3D selfie.";
---

<Layout {title} {description}>
<div class='new-booth-main-index'>
<div class='slider-photo site-width'>
<h1>
<span>Make a SHAPIE®, a 3D portrait</span>
</h1>
<div class='carousel-main-photo carousel-bootstrap carousel slide' data-ride='carousel'>
<ol class='carousel-indicators clearfix'>
<li class='active cur-active' data-slide-to='0' data-target='.carousel-main-photo'></li>
<li data-slide-to='1' data-target='.carousel-main-photo'></li>
<li data-slide-to='2' data-target='.carousel-main-photo'></li>
<li data-slide-to='3' data-target='.carousel-main-photo'></li>
<li data-slide-to='4' data-target='.carousel-main-photo'></li>
<li data-slide-to='5' data-target='.carousel-main-photo'></li>
<li data-slide-to='6' data-target='.carousel-main-photo'></li>
</ol>
<div class='carousel-inner'>
<div class='item carousel-main-item active'>
<img alt="3D figurine of yourself in costume" src="/assets/booth/img5-2e296959f044f557f63665b130304206d7837590f705e73df2d173d3674b53a4.jpg" />
<div class='promo-text orange'>
<div class='row row1'>
3D print yourself
</div>
<div class='row row1'>
dressed up in
</div>
<div class='row row1'>
your favorite party costume
</div>
</div>
</div>
<div class='item carousel-main-item'>
<img alt="3D printed figure as cake topper" src="/assets/booth/img3-b8243c43e919ec398ae1442114a60a25b556288a1f10c4ca67552c76d1776c08.jpg" />
<div class='promo-text orange'>
<div class='row row1'>
Make a birthday surprise with Shapify
</div>
</div>
</div>
<div class='item carousel-main-item'>
<img alt="3D portraits of couples getting married" src="/assets/booth/img4-2e1e3edd4761c420e52eb42506fc0a198320c2bc567890302deed9da68ab5bc0.jpg" />
</div>
<div class='item carousel-main-item'>
<img alt="3D selfie with your family" src="/assets/booth/img6-f65c124ef4733dab6a85fb1370ac9031c1bab34f0b02149d6e886bdd54bdb4b8.jpg" />
</div>
<div class='item carousel-main-item'>
<img alt="3D printing people in different outfits" src="/assets/booth/img7-0a0a9e54bd97633b94cfda9a46cba1c695baef0f76fad6ebdc60bd78f21d3a71.jpg" />
</div>
<div class='item carousel-main-item'>
<img alt="3D me in my favorite outfit" src="/assets/booth/img2-6c31b5734bd5db9421d1f043e3ddb6097beaf55991087d8a959ef7234a9ae545.jpg" />
<div class='promo-text orange'>
<div class='row row1'>
Shapify your slam dunk,
</div>
<div class='row row1'>
your killer serve or
</div>
<div class='row row1'>
just your sexy footballer's legs
</div>
</div>
</div>
<div class='item carousel-main-item'>
<img alt="3D printed figurine of a celeb" src="/assets/booth/img8-9d5d466cf11773113e2404e5cbdd106846c33ceedd0794d16ebf1de1a8bdb404.jpg" />
</div>
</div>
<div class='social-block'>
<div class='facebook'>
<span data-href='https://www.facebook.com/sharer/sharer.php'>Share on Facebook</span>
<div class='img' data-href='https://www.facebook.com/sharer/sharer.php'></div>
</div>
<div class='twitter'>
<span data-href='https://www.facebook.com/sharer/sharer.php'>Share on Twitter</span>
<div class='img' data-href='http://twitter.com/share'></div>
</div>
</div>
</div>
<div class='bubble'>
<div class='text'>
Life-like
<br>
3D printed
<br>
figurines
</div>
</div>
</div>

<div class='ideas clearfix site-width'>
<h2 class='narrow-heading'>
Shapify your most important memories,
<br>
as well as your nearest and dearest so they stay with you in 3D
</h2>
<div class='idea-block-wrapper'>
<div class='idea-block t1'>
<img alt="3D printed figurine as a keepsake" src="/assets/booth/th1.jpg" />
<span>Parents</span>
</div>
<div class='idea-block t2'>
<img alt="3D me on graduation day" src="/assets/booth/th2.jpg" />
<span>Graduation</span>
</div>
<div class='idea-block t3'>
<img alt="3D selfie of a pregnant woman" src="/assets/booth/th3.jpg" />
<span>Pregnancy</span>
</div>
<div class='idea-block t4'>
<img alt="3D portraits on your wedding day" src="/assets/booth/th4.jpg" />
<span>Wedding</span>
</div>
</div>
</div>

<div class='main-map'>
<h2>
Where you can find
<span><a href="/scanning-point">Shapify scanning points</a></span>
</h2>
<div class='map-block'>
<div class='shadow'></div>
<div class='map-wrapper' style="text-align: center; padding: 40px 0;">
  <div style="max-width: 800px; margin: 0 auto;">
    <img src="/assets/sh-map-1117198aa1bb63eaf09e0b309f97501e976b23ef0bcc7126b3a73264f517bd60.png" alt="World map showing Shapify scanning points" style="width: 100%; height: auto; border-radius: 8px;" />
    <div style="margin-top: 20px; font-size: 18px; color: #333;">
      <p><strong>Find Shapify scanning points near you</strong></p>
      <p style="margin-top: 10px; font-size: 16px;">
        <a href="/scanning-point" style="color: #6e59a6; text-decoration: underline;">
          Visit our scanning points page
        </a>
      </p>
    </div>
  </div>
</div>
</div>

</div>

<div class='site-width'>
<div class='news-articles'>
<h3>As seen in</h3>
<a target="_blank" href="http://3dprint.com/20589/artec-shapies-3d-selfies/"><img src="/assets/news/3dprint-f0321493bdae6efc5de77389c6eaba5aef4c2ae6732dae91b18aba0a8ccf0c47.png" alt="3dprint" />
</a><a target="_blank" href="http://www.bloomberg.com/news/articles/2014-09-29/first-selfies-now-shapies-scanning-booths-capture-the-moment-in-3-d"><img src="/assets/news/bloomberg-d89ef84eef65ddeb5c4a85f2395ef091eb39cfe405822d9fe519ee852aadf164.jpg" alt="Bloomberg" />
</a><a target="_blank" href="http://www.forbes.com/sites/tjmccue/2014-06-24/the-ultimate-selfie-from-shapify-me/"><img src="/assets/news/forbes-433c8ad0a6c0f14e449887150a07d24bce0d5c044e1afa0c5ec64d3963b3eb18.png" alt="Forbes" />
</a><a target="_blank" href="https://3dprintingindustry.com/news/3d-scanned-full-color-artec-groups-shapify-36013/?utm_source=feedly&amp;utm_reader=feedly&amp;utm_medium=rss&amp;utm_campaign=3d-scanned-full-color-artec-groups-shapify"><img src="/assets/news/3dprintingindustry-ec1ac16370db2f7d4626fc62935fa38559383782dee2ecfd967eaad1ab2afcaa.png" alt="3dprintingindustry" />
</a><a target="_blank" href="http://www.craveonline.com/lifestyle/tech-and-gadgets-news/810973-ces-2015-video-modeling-tomorrow-3d-printing"><img src="/assets/news/crave-3b42a074081414c8743f8e890cb4ba7c8082cb4c73eb85a2140e44e82e6fc74f.png" alt="Crave" />
</a><a target="_blank" href="http://www.ibtimes.co.uk/asda-launches-60-3d-printed-selfie-service-uk-shoppers-1454040"><img src="/assets/news/ibtimes-f77cabdcb27d5bc44753a5cd66b45f8763867f7bcfad22f893d397742ec468f5.jpg" alt="Ibtimes" />
</a><a target="_blank" href="http://www.today.com/video/today/56805081"><img src="/assets/news/today-697fcc689d3f2f10904d4975902197f70a2f9b4fe63c5c3e891af6038a019575.jpg" alt="Today" />
</a><a target="_blank" href="http://www.wsj.com/video/the-shapie-a-3-d-take-on-the-selfie/657B6AF5-82A6-4E31-A68E-C72B9F3FE2D7.html?KEYWORDS=artec"><img src="/assets/news/wsj-cd1bd7291f4ca3e23b110c3a59c20fb77ceca8fce51260dc896134631ac81f1f.png" alt="Wsj" />
</a><a target="_blank" href="http://geekbeat.tv/ecoreco-garmin-bmw-among-best-ceslive-2015-winners/"><img src="/assets/news/geekbeat-5c3c0dd4783ef0ffbae5df677eb6f6ee3129e4843287793f6587c0e75ad7d23d.jpg" alt="Geekbeat" />
</a><a target="_blank" href="http://www.itv.com/news/granada/update/2014-06-20/supermarket-mini-me-scanner-launches-in-manchester/"><img src="/assets/news/itv-5f82271eb2220fae098c4c9cb35bb49eb15d5ead389b1de22347fd9cf5041439.png" alt="Itv" />
</a><a target="_blank" href="http://www.nbcnews.com/watch/nbc-news-channel/company-prints-3-d-mini-me-from-photos-445915203913"><img src="/assets/news/nbc-f9564420fd3a80ea89b38344ddbea310b0bd3492dada975685e66d97b828b6e6.png" alt="Nbc" />
</a><a target="_blank" href="http://www.itworld.com/article/2837398/worlds-first-3d-full-body-scanning-booth-to-create-custom-you-figurines.html#tk.rss_hardware"><img src="/assets/news/itworld-52e56d40b26a7497278aa7b45705a6b2e57e7dfa4ac16eb44e3686498fb15b6c.png" alt="Itworld" />
</a><a target="_blank" href="http://www.dailymail.co.uk/news/article-2659551/print-perfect-3d-mini-60-asda-scanning-booths-open-supermarket-offering-eight-inch-models-based-thousands-photos.html"><img src="/assets/news/mailonline-3f905fd78f8b599a1498b495a73e594ff6d3b50e0c7a477145f4e31bd870d135.png" alt="Mailonline" />
</a></div>
<div class='cs-video' id='ytplayer'></div>
<div class='tagboard-embed' tgb-auto-load='true' tgb-mobile-count='15' tgb-post-count='15' tgb-slug='Shapify/212752'></div>
<script async src='https://static.tagboard.com/public/js/embed.js'></script>
</div>

</div>
</Layout>