---
import Layout from '../layouts/Layout.astro';

const title = "Make a 3D printed figurine: 3D portraits, 3D selfie figure";
const description = "3D printed figurines: 3D print yourself using a 3D portrait made in Shapify Booth in a matter of minutes. Shapify is a simple, user-friendly service to get your Shapie — your 3D selfie.";
---

<Layout {title} {description}>
<div class='new-booth-main-index'>
<div class='slider-photo site-width'>
<h1>
<span>Make a SHAPIE®, a 3D portrait</span>
</h1>
<div class='carousel-main-photo carousel-bootstrap carousel slide' data-ride='carousel'>
<ol class='carousel-indicators clearfix'>
<li class='active cur-active' data-slide-to='0' data-target='.carousel-main-photo'></li>
<li data-slide-to='1' data-target='.carousel-main-photo'></li>
<li data-slide-to='2' data-target='.carousel-main-photo'></li>
<li data-slide-to='3' data-target='.carousel-main-photo'></li>
<li data-slide-to='4' data-target='.carousel-main-photo'></li>
<li data-slide-to='5' data-target='.carousel-main-photo'></li>
<li data-slide-to='6' data-target='.carousel-main-photo'></li>
</ol>
<div class='carousel-inner'>
<div class='item carousel-main-item active'>
<img alt="3D figurine of yourself in costume" src="/assets/booth/img5-2e296959f044f557f63665b130304206d7837590f705e73df2d173d3674b53a4.jpg" />
<div class='promo-text orange'>
<div class='row row1'>
3D print yourself
</div>
<div class='row row1'>
dressed up in
</div>
<div class='row row1'>
your favorite party costume
</div>
</div>
</div>
<div class='item carousel-main-item'>
<img loading="lazy" alt="3D printed figure as cake topper" src="/assets/booth/img3-b8243c43e919ec398ae1442114a60a25b556288a1f10c4ca67552c76d1776c08.jpg" />
<div class='promo-text orange'>
<div class='row row1'>
Make a birthday surprise with Shapify
</div>
</div>
</div>
<div class='item carousel-main-item'>
<img loading="lazy" alt="3D portraits of couples getting married" src="/assets/booth/img4-2e1e3edd4761c420e52eb42506fc0a198320c2bc567890302deed9da68ab5bc0.jpg" />
</div>
<div class='item carousel-main-item'>
<img loading="lazy" alt="3D selfie with your family" src="/assets/booth/img6-f65c124ef4733dab6a85fb1370ac9031c1bab34f0b02149d6e886bdd54bdb4b8.jpg" />
</div>
<div class='item carousel-main-item'>
<img loading="lazy" alt="3D printing people in different outfits" src="/assets/booth/img7-0a0a9e54bd97633b94cfda9a46cba1c695baef0f76fad6ebdc60bd78f21d3a71.jpg" />
</div>
<div class='item carousel-main-item'>
<img loading="lazy" alt="3D me in my favorite outfit" src="/assets/booth/img2-6c31b5734bd5db9421d1f043e3ddb6097beaf55991087d8a959ef7234a9ae545.jpg" />
<div class='promo-text orange'>
<div class='row row1'>
Shapify your slam dunk,
</div>
<div class='row row1'>
your killer serve or
</div>
<div class='row row1'>
just your sexy footballer's legs
</div>
</div>
</div>
<div class='item carousel-main-item'>
<img loading="lazy" alt="3D printed figurine of a celeb" src="/assets/booth/img8-9d5d466cf11773113e2404e5cbdd106846c33ceedd0794d16ebf1de1a8bdb404.jpg" />
</div>
</div>
<div class='social-block'>
<div class='facebook'>
<span data-href='https://www.facebook.com/sharer/sharer.php'>Share on Facebook</span>
<div class='img' data-href='https://www.facebook.com/sharer/sharer.php'></div>
</div>
<div class='twitter'>
<span data-href='https://www.facebook.com/sharer/sharer.php'>Share on Twitter</span>
<div class='img' data-href='http://twitter.com/share'></div>
</div>
</div>
</div>
<div class='bubble'>
<div class='text'>
Life-like
<br>
3D printed
<br>
figurines
</div>
</div>
</div>

<div class='ideas clearfix site-width'>
<h2 class='narrow-heading'>
Shapify your most important memories,
<br>
as well as your nearest and dearest so they stay with you in 3D
</h2>
<div class='idea-block-wrapper'>
<div class='idea-block t1'>
<img loading="lazy" alt="3D printed figurine as a keepsake" src="/assets/booth/th1.jpg" />
<span>Parents</span>
</div>
<div class='idea-block t2'>
<img loading="lazy" alt="3D me on graduation day" src="/assets/booth/th2.jpg" />
<span>Graduation</span>
</div>
<div class='idea-block t3'>
<img loading="lazy" alt="3D selfie of a pregnant woman" src="/assets/booth/th3.jpg" />
<span>Pregnancy</span>
</div>
<div class='idea-block t4'>
<img loading="lazy" alt="3D portraits on your wedding day" src="/assets/booth/th4.jpg" />
<span>Wedding</span>
</div>
</div>
</div>

<div class='main-map'>
<h2>
Where you can find
<span><a href="/scanning-point">Shapify scanning points</a></span>
</h2>
<div class='map-block'>
<div class='shadow'></div>
<div class='map-wrapper' id='map-canvas'></div>
<script>
  window.userLocations = [{"id":106,"name":"Datadesign Co., Ltd.","lat":"35.173338","lng":"136.906732","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eDatadesign Co., Ltd.\u003c/strong\u003e\u003cbr\u003eSakuradoriohtsu Daiichiseimei Bldg, 12F\u003cbr\u003e3-4-6 Nishiki, Naka-ku, Nagoya, Aichi 460-0003\u003cbr\u003eTel: \u003cem\u003e+81 529531588\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:jboyd@datadesign.co.jp \"\u003ejboyd@datadesign.co.jp \u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.datadesign.co.jp\" target=\"_blank\"\u003ewww.datadesign.co.jp\u003c/a\u003e"},{"id":120,"name":"3D UTOPIA","lat":"29.302477","lng":"47.929844","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003e3D UTOPIA\u003c/strong\u003e\u003cbr\u003e10AM - 10PM\u003cbr\u003eXcite AlGhanim - Avenues Mall\u003cbr\u003eTel: \u003cem\u003e+965 66669830\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:crm@3dutopia.com\"\u003ecrm@3dutopia.com\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.3dutopia.com\" target=\"_blank\"\u003ewww.3dutopia.com\u003c/a\u003e"},{"id":124,"name":"Laser Imaging  c/o 3D Makery","lat":"29.943761","lng":"-95.517046","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eLaser Imaging c/o 3D Makery\u003c/strong\u003e\u003cbr\u003eMon-Sat 10am - 9pm; Sun 11am - 7pm \u003cbr\u003e11101 Cutten Rd. Suite 101\u003cbr\u003eHouston, TX 77066\u003cbr\u003eTel: \u003cem\u003e281.286.1338\u003c/em\u003e"},{"id":133,"name":"3D Makery Nigeria","lat":"6.588108","lng":"3.36228","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003e3D Makery Nigeria\u003c/strong\u003e\u003cbr\u003e71 Opebi Road, Ikeja, Lagos\u003cbr\u003eEmail: \u003ca href=\"mailto:3dmakerynigeria@gmail.com\"\u003e3dmakerynigeria@gmail.com\u003c/a\u003e"},{"id":136,"name":"Artec 3D Headquarters","lat":"49.639024","lng":"6.145196","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eArtec 3D Headquarters\u003c/strong\u003e\u003cbr\u003e09:00 - 18:00\u003cbr\u003e2, rue Jean Engling\u003cbr\u003eL-1466 Luxembourg\u003cbr\u003eTel: \u003cem\u003e+352 26008643\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:info@artec-group.com\"\u003einfo@artec-group.com\u003c/a\u003e\u003cbr\u003e\u003ca href=\"https://www.artec3d.com/hardware/shapifybooth\" target=\"_blank\"\u003ewww.artec3d.com/hardware/shapifybooth\u003c/a\u003e"},{"id":141,"name":"3D STUDIO WEin3D","lat":"50.08922","lng":"14.429512","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003e3D STUDIO WEin3D\u003c/strong\u003e\u003cbr\u003eMo- SU 9.00-21.00\u003cbr\u003eNamestí Republiky 1078/1 110 00 Prague Czech Republic\u003cbr\u003eShopping centrum Palladium, floor +1\u003cbr\u003eTel: \u003cem\u003e+420 776 876 183\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:wein3dcz@gmail.com\"\u003ewein3dcz@gmail.com\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.wein3d.com\" target=\"_blank\"\u003ewww.wein3d.com\u003c/a\u003e"},{"id":142,"name":"my3dagency","lat":"43.636331","lng":"-79.425874","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003emy3dagency\u003c/strong\u003e\u003cbr\u003eMonday to Friday 9am - 6pm\u003cbr\u003e219 Dufferin Street suite 10c Toronto, ON M6K 3J1\u003cbr\u003eTel: \u003cem\u003e416 509 9030 \u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:michael@my3dagency.com\"\u003emichael@my3dagency.com\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.my3dagency.com\" target=\"_blank\"\u003ewww.my3dagency.com\u003c/a\u003e"},{"id":143,"name":"GEEKfactory","lat":"46.295306","lng":"16.343815","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003eGEEKfactory\u003c/strong\u003e\u003cbr\u003eevery day, anytime of the day\u003cbr\u003eZagrebacka 89, 42 000 Varazdin, Croatia\u003cbr\u003eTel: \u003cem\u003e+385 98 1394 505\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:vedran@geek-design.hr\"\u003evedran@geek-design.hr\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.geek-design.hr\" target=\"_blank\"\u003ewww.geek-design.hr\u003c/a\u003e"},{"id":144,"name":"3D STUDIO SPB","lat":"59.969371","lng":"30.315635","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003e3D STUDIO SPB\u003c/strong\u003e\u003cbr\u003e9am - 7pm\u003cbr\u003e197022 Russia, Saint-Petersburg, prospekt Medikov 3A\u003cbr\u003eTel: \u003cem\u003e+7 911 146 3300\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:varlamovsv@gmail.com\"\u003evarlamovsv@gmail.com\u003c/a\u003e\u003cbr\u003e\u003ca href=\"https://vk.com/3dstudio_spb\" target=\"_blank\"\u003evk.com/3dstudio_spb\u003c/a\u003e"},{"id":145,"name":"FreeDee Printing Solutions","lat":"47.493972","lng":"19.064932","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003eFreeDee Printing Solutions\u003c/strong\u003e\u003cbr\u003eMonday to friday 10:00 am to 6:00 pm\u003cbr\u003eHungary, 1088 Budapest, Szentkirályi utca 8\u003cbr\u003eTel: \u003cem\u003e0670 600 3129\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:info@freedee.hu\"\u003einfo@freedee.hu\u003c/a\u003e"},{"id":146,"name":"Cokreeate","lat":"34.100397","lng":"-118.116378","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003eCokreeate\u003c/strong\u003e\u003cbr\u003eM-F - 11:30-6pm Sat 12-3pm\u003cbr\u003e1019 E. Main st unit b Alhambra CA 91801\u003cbr\u003eTel: \u003cem\u003e6263137885\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:Sales@cokreeate.com\"\u003eSales@cokreeate.com\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.cokreeate.com\" target=\"_blank\"\u003ewww.cokreeate.com\u003c/a\u003e"},{"id":149,"name":"MY3DIMAGE","lat":"53.090757","lng":"-2.416123","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eMY3DIMAGE\u003c/strong\u003e\u003cbr\u003eTechnology House  Southmere Court\u003cbr\u003eElectra Way  Crewe Business Park CW1 6GU\u003cbr\u003eTel: \u003cem\u003e+44 (0)1270 216000\u003c/em\u003e\u003cbr\u003e\u003ca href=\"http://www.my3dimage.com/my3dimage/\" target=\"_blank\"\u003ewww.my3dimage.com/my3dimage/\u003c/a\u003e"},{"id":150,"name":"MY3DIMAGE","lat":"53.090757","lng":"-2.416123","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003eMY3DIMAGE\u003c/strong\u003e\u003cbr\u003eTechnology House  Southmere Court\u003cbr\u003eElectra Way  Crewe Business Park CW1 6GU\u003cbr\u003eTel: \u003cem\u003e+44 (0)1270 216000\u003c/em\u003e\u003cbr\u003e\u003ca href=\"http://www.my3dimage.com/my3dimage/\" target=\"_blank\"\u003ewww.my3dimage.com/my3dimage/\u003c/a\u003e"},{"id":154,"name":"Luxembourg Science Center","lat":"49.522475","lng":"5.893491","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eLuxembourg Science Center\u003c/strong\u003e\u003cbr\u003e50, rue Emile Mark\u003cbr\u003eL-4620 Differdange\u003cbr\u003eTel: \u003cem\u003e26581228\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:info@science-center.lu\"\u003einfo@science-center.lu\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://www.science-center.lu/en\" target=\"_blank\"\u003ewww.science-center.lu/en\u003c/a\u003e"},{"id":160,"name":"3Dees Centre for 3D Printing","lat":"50.113231","lng":"14.479669","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003e3Dees Centre for 3D Printing\u003c/strong\u003e\u003cbr\u003eMon - Fri 09:00 - 17:00\u003cbr\u003eU Pekarky 484/1A, 180 00, Prague\u003cbr\u003eBuilding A, 2nd Floor\u003cbr\u003eTel: \u003cem\u003e+420 601 583 269\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:3dees@3dees.cz\"\u003e3dees@3dees.cz\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://3dees.cz\" target=\"_blank\"\u003e3dees.cz \u003c/a\u003e"},{"id":161,"name":"3DMEK","lat":"-33.708997","lng":"150.948845","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003e3DMEK\u003c/strong\u003e\u003cbr\u003e6 Botanical Drive Kellyville, NSW 2155 \u003cbr\u003eTel: \u003cem\u003e+61 421 080 475 +61 407 436 594\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:kiran@3dmek.com.au\"\u003ekiran@3dmek.com.au\u003c/a\u003e"},{"id":165,"name":"Technology Hub","lat":"-16.914728","lng":"145.755156","localable_type":"","location_type":"lt_eva","formated_info":"\u003cstrong\u003eTechnology Hub\u003c/strong\u003e\u003cbr\u003eMon-Fri 9 AM - 6 PM\u003cbr\u003e439 Severin Street, Cairns, QLD, 4870\u003cbr\u003eTel: \u003cem\u003e+61 07 4221 1864 / +61 0412 040 674\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:Hello@technologyhub.com.au\"\u003eHello@technologyhub.com.au\u003c/a\u003e\u003cbr\u003e\u003ca href=\"http://technologyhub.com.au\" target=\"_blank\"\u003etechnologyhub.com.au\u003c/a\u003e"},{"id":148,"name":"SnT, University of Luxembourg","lat":"49.625650","lng":"6.159798","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eSnT, University of Luxembourg\u003c/strong\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:shapify3D@uni.lu\"\u003eshapify3D@uni.lu\u003c/a\u003e"},{"id":164,"name":"Artec Expo booth USA","lat":"37.383346","lng":"-121.980050","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eArtec Expo booth USA\u003c/strong\u003e\u003cbr\u003e2880 Lakeside Dr #135\u003cbr\u003eSanta Clara, CA 95054\u003cbr\u003eTel: \u003cem\u003e(669) 292 5611\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:support@artec-group.com\"\u003esupport@artec-group.com\u003c/a\u003e"},{"id":128,"name":"Digital Scan 3D LLC - Portland, OR","lat":"45.502805","lng":"-122.675848","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eDigital Scan 3D LLC - Portland, OR\u003c/strong\u003e\u003cbr\u003e8am - 5pm\u003cbr\u003e25530 74th Avenue S.\u003cbr\u003eKent, WA 98032\u003cbr\u003eTel: \u003cem\u003e(503) 388-8888\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:Info@digitalscan3d.com\"\u003eInfo@digitalscan3d.com\u003c/a\u003e"},{"id":166,"name":"Digital Scan 3D LLC - Seattle Office","lat":"47.372453","lng":"-122.242148","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eDigital Scan 3D LLC - Seattle Office\u003c/strong\u003e\u003cbr\u003e8am - 5pm\u003cbr\u003e25530 74th Avenue S.\u003cbr\u003eKent, WA 98032\u003cbr\u003eTel: \u003cem\u003e(206) 338 2112\u003c/em\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:support@digitalscan3d.com\"\u003esupport@digitalscan3d.com\u003c/a\u003e"},{"id":167,"name":"Digital Scan 3D LLC - Portland, OR","lat":"45.502805","lng":"-122.675848","localable_type":"User","location_type":"lt_eva","formated_info":"\u003cstrong\u003eDigital Scan 3D LLC - Portland, OR\u003c/strong\u003e\u003cbr\u003e8am - 5pm\u003cbr\u003e2828 SW Kelly Avenue\u003cbr\u003ePortland, OR 97201\u003cbr\u003eTel: \u003cem\u003e(503) 388-8888\u003c/em\u003e"},{"id":168,"name":"Richman M Siansimbi","lat":"45.502805","lng":"-122.675848","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eRichman M Siansimbi\u003c/strong\u003e\u003cbr\u003e8am to 4pm\u003cbr\u003e2828 S Kelly Avenue Suite A\u003cbr\u003eTel: \u003cem\u003e15037576550\u003c/em\u003e"},{"id":169,"name":"3D Scan STL","lat":"38.690550","lng":"-90.399008","localable_type":"","location_type":"lt_booth","formated_info":"\u003cstrong\u003e3D Scan STL\u003c/strong\u003e\u003cbr\u003eEmail: \u003ca href=\"mailto:info@3dscanstl.com\"\u003einfo@3dscanstl.com\u003c/a\u003e"},{"id":153,"name":"Nicola Zucca","lat":"39.890228","lng":"8.593074","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"\u003cstrong\u003eNicola Zucca\u003c/strong\u003e\u003cbr\u003eOristano"}]
</script>
</div>

</div>

<div class='site-width'>
<div class='news-articles'>
<h3>As seen in</h3>
<a target="_blank" href="http://3dprint.com/20589/artec-shapies-3d-selfies/"><img loading="lazy" src="/assets/news/3dprint-f0321493bdae6efc5de77389c6eaba5aef4c2ae6732dae91b18aba0a8ccf0c47.png" alt="3dprint" />
</a><a target="_blank" href="http://www.bloomberg.com/news/articles/2014-09-29/first-selfies-now-shapies-scanning-booths-capture-the-moment-in-3-d"><img loading="lazy" src="/assets/news/bloomberg-d89ef84eef65ddeb5c4a85f2395ef091eb39cfe405822d9fe519ee852aadf164.jpg" alt="Bloomberg" />
</a><a target="_blank" href="http://www.forbes.com/sites/tjmccue/2014-06-24/the-ultimate-selfie-from-shapify-me/"><img loading="lazy" src="/assets/news/forbes-433c8ad0a6c0f14e449887150a07d24bce0d5c044e1afa0c5ec64d3963b3eb18.png" alt="Forbes" />
</a><a target="_blank" href="https://3dprintingindustry.com/news/3d-scanned-full-color-artec-groups-shapify-36013/?utm_source=feedly&amp;utm_reader=feedly&amp;utm_medium=rss&amp;utm_campaign=3d-scanned-full-color-artec-groups-shapify"><img loading="lazy" src="/assets/news/3dprintingindustry-ec1ac16370db2f7d4626fc62935fa38559383782dee2ecfd967eaad1ab2afcaa.png" alt="3dprintingindustry" />
</a><a target="_blank" href="http://www.craveonline.com/lifestyle/tech-and-gadgets-news/810973-ces-2015-video-modeling-tomorrow-3d-printing"><img loading="lazy" src="/assets/news/crave-3b42a074081414c8743f8e890cb4ba7c8082cb4c73eb85a2140e44e82e6fc74f.png" alt="Crave" />
</a><a target="_blank" href="http://www.ibtimes.co.uk/asda-launches-60-3d-printed-selfie-service-uk-shoppers-1454040"><img loading="lazy" src="/assets/news/ibtimes-f77cabdcb27d5bc44753a5cd66b45f8763867f7bcfad22f893d397742ec468f5.jpg" alt="Ibtimes" />
</a><a target="_blank" href="http://www.today.com/video/today/56805081"><img loading="lazy" src="/assets/news/today-697fcc689d3f2f10904d4975902197f70a2f9b4fe63c5c3e891af6038a019575.jpg" alt="Today" />
</a><a target="_blank" href="http://www.wsj.com/video/the-shapie-a-3-d-take-on-the-selfie/657B6AF5-82A6-4E31-A68E-C72B9F3FE2D7.html?KEYWORDS=artec"><img loading="lazy" src="/assets/news/wsj-cd1bd7291f4ca3e23b110c3a59c20fb77ceca8fce51260dc896134631ac81f1f.png" alt="Wsj" />
</a><a target="_blank" href="http://geekbeat.tv/ecoreco-garmin-bmw-among-best-ceslive-2015-winners/"><img loading="lazy" src="/assets/news/geekbeat-5c3c0dd4783ef0ffbae5df677eb6f6ee3129e4843287793f6587c0e75ad7d23d.jpg" alt="Geekbeat" />
</a><a target="_blank" href="http://www.itv.com/news/granada/update/2014-06-20/supermarket-mini-me-scanner-launches-in-manchester/"><img loading="lazy" src="/assets/news/itv-5f82271eb2220fae098c4c9cb35bb49eb15d5ead389b1de22347fd9cf5041439.png" alt="Itv" />
</a><a target="_blank" href="http://www.nbcnews.com/watch/nbc-news-channel/company-prints-3-d-mini-me-from-photos-445915203913"><img loading="lazy" src="/assets/news/nbc-f9564420fd3a80ea89b38344ddbea310b0bd3492dada975685e66d97b828b6e6.png" alt="Nbc" />
</a><a target="_blank" href="http://www.itworld.com/article/2837398/worlds-first-3d-full-body-scanning-booth-to-create-custom-you-figurines.html#tk.rss_hardware"><img loading="lazy" src="/assets/news/itworld-52e56d40b26a7497278aa7b45705a6b2e57e7dfa4ac16eb44e3686498fb15b6c.png" alt="Itworld" />
</a><a target="_blank" href="http://www.dailymail.co.uk/news/article-2659551/print-perfect-3d-mini-60-asda-scanning-booths-open-supermarket-offering-eight-inch-models-based-thousands-photos.html"><img loading="lazy" src="/assets/news/mailonline-3f905fd78f8b599a1498b495a73e594ff6d3b50e0c7a477145f4e31bd870d135.png" alt="Mailonline" />
</a></div>
<div class='cs-video' id='ytplayer'></div>
<div class='tagboard-embed' tgb-auto-load='true' tgb-mobile-count='15' tgb-post-count='15' tgb-slug='Shapify/212752'></div>
<script async src='https://static.tagboard.com/public/js/embed.js'></script>
</div>

</div>
</Layout>