---
import Layout from '../layouts/Layout.astro';

const title = "Privacy Policy | Shapify";
const description = "3D printed figurines: 3D print yourself using a 3D portrait made in Shapify Booth.";
---

<Layout {title} {description}>
</div>
<div class='max-width'>
<a name="privacy_policy"></a>
<div style="padding: 20px;">
<style>
  table td,
  table th {
    padding: 10px;
  }

  ol, ul {
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
</style>
<h2>PRIVACY POLICY</h2>
<p align="right">Last update: 30 April 2020</p>

<p>
  Artec Europe, S.&#224; r.l., having its registered office at 20 rue des Peupliers L-2328 Luxembourg, and registered with the Trade and Companies Register of Luxembourg under number B154428 (the <strong>"Company"</strong> or <strong>"we"</strong> or <strong>"us"</strong>) is committed to protecting privacy of your personal data. This Privacy Policy applies to those who visit the website www.artec3d.com (the <strong>"Website"</strong>) owned and operated by the Company, download any downloadable software, install any mobile applications, and/or use the Company&#180;s products and services (collectively, the <strong>"Artec Service"</strong>).
</p>

<p>
  For purposes of this Privacy Policy, Personal Data shall mean any personal data relating to an identified or identifiable natural person.
</p>

<p>
  This Privacy Policy describes how the Company, acting as the data controller, collects, uses, shares and secures the Personal Data of the users of Artec Service (the <strong>"User(s)"</strong> or <strong>"you"</strong> or<strong> "yours"</strong>, as applicable).
</p>

<p>
  It also describes the User's choices regarding use, access and correction of the User's Personal Data. The capitalized terms used in this Privacy Policy but not defined herein shall have the same meaning assigned to them in Company's Terms and Conditions.
</p>

<h3>1. PERSONAL DATA COLLECTED</h3>
<table>
  <tr>
    <th>
      <strong>When Personal Data is collected</strong>
    </th>
    <th>
      <strong>
        What Personal Data is collected
      </strong>
    </th>
  </tr>
  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: left">
        We collect Personal Data when you register for Artec Service and when you purchase one of our products or services, when you fill in the forms and surveys and/or when we communicate with you.
      </td>
      <td style="vertical-align: top; text-align: left">
        <ul style="list-style-type: circle;">
          <li>
            identification data (e.g.: name, e-mail, postal address, telephone number, country of residence, passport, identity card, tax identification number etc.);
          </li>
          <li>
            financial information such as payment details (credit card, debit card, PayPal, expiration date and the security code associated with your payment instrument);
          </li>
          <li>
            any information you provide to us when contacting us by email or through Artec Service account;
          </li>
          <li>
            communication data (e.g. exchanges with you by phone or email);
          </li>
          <li>
            images and sound (e.g. photos, videos, projects or other files made by you);
          </li>
          <li>
            other information provided by you (e.g. survey responses, feedbacks and suggestions).
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: left">
        <p>
          We automatically collect Personal Data when you access Artec Service account or browse our Website through the use of log files, cookies, web beacons and similar technologies.
        </p>
        <p>
          For more information as to the use of cookies and similar technologies, please refer to our Cookie Policy available <a href="https://www.artec3d.com/cookie-policy">here</a>.
        </p>
      </td>
      <td style="vertical-align: top; text-align: left">
        <ul style="list-style-type: circle;">
          <li>
            date and time of access;
          </li>
          <li>
            language preferences;
          </li>
          <li>
            IP address;
          </li>
          <li>
            operating system used;
          </li>
          <li>
            number of visits;
          </li>
          <li>
            pages of our Website you have visited;
          </li>
          <li>
            account login and password.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          We collect Personal Data through the use of your user name and passwords for certain services provided by third parties (each, a <strong>"Third Party Service"</strong>).
        </p>
        <p>
          We may provide an option to access or register for Artec Service through the use of your Facebook, Twitter, OpenID or Google account.
        </p>
      </td>
      <td>
        <ul style="list-style-type: circle;">
          <li>
            We can access and store the Personal Data that the Third Party Service makes available to us.
          </li>
        </ul>
        <p>
          Please review the terms of use and privacy policy of such Third Party Services) to control what Personal Data is available to us.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<h3>2. ON WHICH LEGAL BASIS AND FOR WHICH PURPOSES IS THE PERSONAL DATA COLLECTED?</h3>
<p>We may process your Personal Data:</p>
<ol style="list-style-type: lower-alpha">
  <li>
    For the purposes of entering or performing a contract with you
    <p>
      We process your Personal Data for the purpose of fulfilling our contractual obligations under the contract concluded with you when you purchase Artec Services via the Website, as well as for processing and delivering contest or sweepstakes entries and rewards
    </p>
  </li>
  <li>
    For the purposes that are in our legitimate interest, such as to:
    <ol style="list-style-type: lower-roman">
      <li>
        identify you properly and enable you to access and use Artec Service;
      </li>
      <li>
        create and manage your account with us and customize your online experience;
      </li>
      <li>
        process and complete transactions by taking payment or refunding you, and for the detection and prevention of fraud;
      </li>
      <li>
        provide customer service and support and send you related notices;
      </li>
      <li>
        send you promotional communications;
      </li>
      <li>
        make suggestions and recommendations to you about Artec Services that may be of interest to you;
      </li>
      <li>
        deal with enquiries, complaints and suggestions from you about Artec Services;
      </li>
      <li>
        help us to manage, administer, evaluate and improve our business and our products and services we offer, including market research and analysis to improve our existing products and services, or learn the products and services you wished we provided (including performing data analytics and performing accounting, auditing and other internal functions);
      </li>
      <li>
        monitor and analyze trends, usage, and activities in connection with Artec Service and for marketing or advertising purposes;
      </li>
      <li>
        the establishment, exercise and defense of legal claims;
      </li>
      <li>
        assure the safety and continuity of our IT services and systems;
      </li>
      <li>
        in connection with any business reorganization, transfer, disposal, merger or acquisition on the level of Company; and
      </li>
      <li>
        monitor and assess compliance with our policies and standards, as well as risk management and fraud prevention.
      </li>
    </ol>
  </li>
  <li>
    For compliance with our legal or regulatory obligations
    <p>
      We can process your Personal Data where it is necessary for compliance with legal or regulatory obligations that we are subject to, notably data retention obligations or when responding to requests from competent authorities.
    </p>
  </li>
  <li>
    With your consent
    <p>
      Insofar as you have given us your consent for the processing of your Personal Data, such consent will serve as a legal basis for the referred processing.
    </p>
    <p>
      This includes the consent that you may have given in relation to the use of cookies running on our Website or Artec Service account, the possibility to be contacted in relation to offers and promotions (e.g. about our products and services), or the sharing of Personal Data when we provide an option to access or register for Artec Service through the use of your user name and passwords for certain services provided by third parties (each, an <strong>"Third Party Service"</strong>), such as through the use of your Facebook, LinkedIn, or Google account.
    </p>
    <p>
      By authorizing us to connect with a Third Party Service, you authorize the Company to access and store the information that the Third Party Service makes available to us, and to use and disclose it in accordance with this Privacy Policy. It is your responsibility to check your privacy settings for such Third Party Services (please review the terms of use and privacy policy of such Third Party Services) to control what information is available to us.
    </p>
  </li>
</ol>
<h3>3. HOW WE SHARE THE PERSONAL DATA THAT WE COLLECT</h3>
<p>We may share your Personal Data with</p>
<ol style="list-style-type: lower-alpha">
  <li>
    third-party service providers such as IT service suppliers (including hosting and maintenance services), archiving storage providers, background checking services, financial, tax or legal advisors or institutions or accountants appointed by us, that process your Personal Data on our instructions. We do not permit third-party service providers to use Personal Data for their marketing purposes or for any other purpose than in connection with the services they provide to us. Appropriate safeguards to ensure the integrity and security of your Personal Data when engaging such service providers will be implemented;
  </li>
  <li>
    government, courts, law enforcement authorities, regulators or attorneys and supervisory authorities;
  </li>
  <li>
    any third party to whom we assign or novate any of our rights or obligations, or that acquires all or substantially all of our business, stock or assets, or with whom we merge;
  </li>
  <li>
    shareholders, agents, employees, consultants, representatives, auditors and business partners; and
  </li>
  <li>
    other companies belonging to the same group as the Company (and if necessary, their respective shareholders, agents, employees, consultants, representatives, auditors, service providers and business providers).
  </li>
</ol>
<h3>4. DO YOU HAVE THE OBLIGATION TO PROVIDE THE PERSONAL DATA?</h3>
<p>
  Personal Data required to comply with Company's legal requirement or to perform the contract with you are mandatory.
</p>
<p>
  Without the provision of these Personal Data we are not able to enter into or continue the performance of the contract concluded with you and you will therefore not be able to purchase any of our product or service.
</p>
<h3>5. HOW LONG DO WE RETAIN YOUR PERSONAL DATA?</h3>
<table>
  <tr>
    <td style="vertical-align: top; text-align: left">
      <p>
        Personal Data collected when you register and/or purchase a product of Company and conclude subsequently a contrac
      </p>
    </td>
    <td style="vertical-align: top; text-align: left">
      <p>
        As far as necessary, we will keep your Personal Data for the duration of our contract with you.
      </p>
      <p>
        In addition, we are subject to various retention and documentation obligations, which inter alia follow from the commercial code (Code de Commerce). The retention period provided by the commercial code is 10 years after closing of the financial year to which the relevant documents containing your Personal Data relate.
      </p>
      <p>
        Finally, the retention period will also be determined by the legal prescription periods that can, for example, be set forth by the commercial code and amount up to ten years after the end of the contractual relationship with you.
      </p>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; text-align: left">
      <p>
        Personal Data collected automatically through the use of cookies, similar technologies and log files
      </p>
    </td>
    <td style="vertical-align: top; text-align: left">
      <ul style="list-style-type: circle">
        <li>
          Cookies and similar technologies: 6 months
        </li>
      </ul>
    </td>
  </tr>
</table>
<h3>6. WHERE IS YOUR PERSONAL DATA TRANSFERRED TO?</h3>
<p>
  For the purposes listed above, your Personal Data may be transferred to any of the aforementioned recipients and service providers in countries located in or outside of the European Economic Area (EEA).
</p>
<p>
  Personal Data may be transferred to the countries located outside of the EEA, including Russian Federation, United States of America, Canada, South Korea and the countries of origin of Artec's distributors (resellers).
</p>
<p>
  Personal Data may be transferred to a country outside of the EEA on the basis of the fact that the European Commission has decided that such country ensures an adequate level of protection. Certain countries in which recipients and data processors may be located and to which Personal Data may be transferred may however not have the same level of protection of Personal Data as the one afforded in the EEA. Personal Data transferred to countries outside of the EEA in such case will be protected by appropriate safeguards, such as standard contractual clauses approved by the European Commission. You may obtain a copy of such safeguards by contacting us at dpo@artec-group.com or dpo@artec3d.com.
</p>
<h3>7. TO WHAT EXTENT DO WE USE AUTOMATED DECISIONS MAKING OR PROFILING?</h3>
<p>
  In general, we do not use automated individual decision-making or profiling in the course of the relationship with you. If we should rely on such processing in a particular situation, we will inform you separately, insofar we are legally required to do so.
</p>
<h3>8. WHAT ARE YOUR RIGHTS?</h3>
<ol style="list-style-type: lower-alpha">
  <li>
    Right to information, rectification and restriction of processing
    <p>
      This is your right to request a copy, at no costs, of the Personal Data that we hold about you. Please contact us if you would like a copy of some or all your Personal Data, we will respond to your request within thirty days of receipt of the request.
    </p>
    <p>
      We want to make sure your Personal Data is accurate and up to date: you may contact us to correct or remove Personal Data you think is inaccurate.
    </p>
    <p>
      In cases where the accuracy of the Personal Data is contested, the processing is unlawful, or where you have objected to the processing of your Personal Data, you may ask for the restriction of the processing of such Personal Data. This means that Personal Data will, with the exception of storage, only be processed with or for the establishment, exercise or defence of legal claims, for the protection of the rights of another natural or legal person or for reasons of important public interest of the European Union or of an EU Member State. In case a processing is restricted, you will be informed before the restriction of processing is lifted.
    </p>
  </li>
  <li>
    Objections to processing of Personal Data
    <p>
      You may object to processing of your Personal Data which is based on the legitimate interests pursued by us or by a third party.
    </p>
    <p>
      The only reasons we will be able to deny your request is if we can show compelling legitimate grounds for the processing, which override your interest, rights and freedoms, or the processing is for the establishment, exercise or defense of a legal claims.
    </p>
    <p>
      You have also the right to object at any time to processing of your Personal Data for marketing purposes, which includes profiling to the extent that it is related to such direct marketing. If you object to processing for direct marketing purposes, your Personal Data will no longer be processed for such purposes.
    </p>
    <p>
      Your right to object is not bound to any formalities.
    </p>
  </li>
  <li>
    Right to withdraw your consent
    <p>
      You have the right to withdraw your consent at any time, without affecting the lawfulness of processing based on consent before its withdrawal. This also applies to any consent given before the coming into force of the General Data Protection Regulation (GDPR) on 25 May 2018. The withdrawal only affects future processing.
    </p>
  </li>
  <li>
    Data Portability
    <p>
      It is also your right to receive the Personal Data which you have given to us, in a structured, commonly used and machine-readable format and have the right to transmit that Personal Data to another controller without delay from the current controller if:
    </p>
    <ol style="list-style-type: lower-roman">
      <li>
        the processing is based on consent or on a contract, and
      </li>
      <li>
        the processing is carried out by automated means.
      </li>
    </ol>
  </li>
  <li>
    Right to be forgotten
    <p>
      You may request the deletion of Personal Data held about you, without undue delay when the use or other processing of such Personal Data is no longer necessary for the purposes described above, and notably when consent relating to a specific processing has been withdrawn or where the processing is not or no longer lawful for other reasons.
    </p>
  </li>
  <li>
    Right to lodge a complaint
    <p>
      In the event that you wish to make a complaint about how we process your Personal Data, please contact us in the first instance at the email addresses indicated above and hereunder, and we will endeavour to deal with your request as soon as possible. This is without prejudice to your right to file a complaint with the Luxembourg data protection authority, the Commission nationale pour la protection des donn&#233;es, or another European data protection authority (e.g. in your country of residence), in the event you have concerns on the processing of your Personal Data.
    </p>
  </li>
</ol>
<h3>9. POLICY REGARDING CHILDREN</h3>
<p>
  Artec Services is not directed to children under the age of thirteen and we do not knowingly collect Personal Data from children under the age of thirteen as part of Artec Services. If we become aware that we have inadvertently received Personal Data from a User under the age of thirteen as part of Artec Services, we will delete such Personal Data from our records. If we change our practices in the future, we will obtain prior, verifiable parental consent before collecting any Personal Data from children under the age of thirteen as part of Artec Services.
</p>
<h3>10. CHANGES TO OUR PRIVACY POLICY </h3>
<p>
  If we change the Policy, we will post the revised Privacy Policy here with an updated revision date. Please check frequently our Website to see if the Privacy Policy has changed. If we make significant changes to our statement, we also may notify all members whose Personal Data we have retained by appropriate means, such as sending an email or posting an information notice on our Website.
</p>
<h3>11. CONTACTING US</h3>
<p>
  The Company has appointed a data protection officer.  If you have any questions regarding this Privacy Policy or Personal Data we hold about you, you may contact the DPO at dpo@artec3d.com or dpo@artec-group.com or by sending us a letter to our registered office at 20 rue des Peupliers L-2328 Luxemboudg with attention to DPO.
</p>
<p>
  In order for us to take the appropriate action please describe in reasonable detail the nature of your request or inquiry.
</p>
<p>
  To protect your privacy and security, we may take steps to verify your identity before complying with the request.
</p>
</div>
</div>

</div>
<div class='footer-booth-wrapper'>
<div class='footer-bottom-booth'>
</Layout>