---
import Layout from '../layouts/Layout.astro';

const title = "Shapify | Get your Shapie | Nearest scanning point";
const description = "Shapify is a simple, user friendly service to get your Shapie — your 3D printed selfie.";
const pageClass = "page-map";
---

<Layout {title} {description} {pageClass}>
<div class='page-map-block'>
<div class='map-filter-block'>
<div class='partner-type-list'>
<div class='types'>
<span class='active' data-index='0'>All points</span>
<span data-index='1'>Eva</span>
<span data-index='2'>Booth</span>
</div>
<div class='map-tooltip-wrapper tooltip-toggle'>
?
<div class='map-tooltip sh-tooltip'>
Choose a
<b>Eva</b>
scanning point for a
<ul>
<li>mobile solution</li>
<li>lower price</li>
</ul>
Choose a
<b>Booth</b>
scanning point for
<ul>
<li>better resolution</li>
<li>bigger figurines sizes</li>
</ul>
All equipment is totally safe for your health
</div>
</div>
</div>
<ul class='active f32 partner-list' data-index='0'>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-00' data-toggle='collapse' href='#collapse-00' id='map-00'>
<span class='flag lu pull-left'></span>
<span class='partner-country pull-left'>Luxembourg</span>
<span class='partner-count pull-right'>3</span>
</div>
<div class='partner-info collapse' id='collapse-00'>
<div class='partner-block' id='partner-0148'><div class='partner-top clearfix'><span class='partner-name'>SnT, University of Luxembourg</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0136'><div class='partner-top clearfix'><span class='partner-name'>Artec 3D Headquarters</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0154'><div class='partner-top clearfix'><span class='partner-name'>Luxembourg Science Center</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-01' data-toggle='collapse' href='#collapse-01' id='map-01'>
<span class='flag pull-left us'></span>
<span class='partner-country pull-left'>United States</span>
<span class='partner-count pull-right'>8</span>
</div>
<div class='partner-info collapse' id='collapse-01'>
<div class='partner-block' id='partner-0124'><div class='partner-top clearfix'><span class='partner-name'>Laser Imaging c/o 3D Makery</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0169'><div class='partner-top clearfix'><span class='partner-name'>3D Scan STL</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0168'><div class='partner-top clearfix'><span class='partner-name'>Richman M Siansimbi</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0167'><div class='partner-top clearfix'><span class='partner-name'>Digital Scan 3D LLC – Portland, OR</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0166'><div class='partner-top clearfix'><span class='partner-name'>Digital Scan 3D LLC – Seattle Office</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0128'><div class='partner-top clearfix'><span class='partner-name'>Digital Scan 3D LLC – Portland, OR</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0164'><div class='partner-top clearfix'><span class='partner-name'>Artec Expo booth USA</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0146'><div class='partner-top clearfix'><span class='partner-name'>Cokreeate</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-02' data-toggle='collapse' href='#collapse-02' id='map-02'>
<span class='au flag pull-left'></span>
<span class='partner-country pull-left'>Australia</span>
<span class='partner-count pull-right'>2</span>
</div>
<div class='partner-info collapse' id='collapse-02'>
<div class='partner-block' id='partner-0165'><div class='partner-top clearfix'><span class='partner-name'>Technology Hub</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0161'><div class='partner-top clearfix'><span class='partner-name'>3DMEK</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-03' data-toggle='collapse' href='#collapse-03' id='map-03'>
<span class='ca flag pull-left'></span>
<span class='partner-country pull-left'>Canada</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-03'>
<div class='partner-block' id='partner-0142'><div class='partner-top clearfix'><span class='partner-name'>my3dagency</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-04' data-toggle='collapse' href='#collapse-04' id='map-04'>
<span class='flag hr pull-left'></span>
<span class='partner-country pull-left'>Croatia</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-04'>
<div class='partner-block' id='partner-0143'><div class='partner-top clearfix'><span class='partner-name'>GEEKfactory</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-05' data-toggle='collapse' href='#collapse-05' id='map-05'>
<span class='cz flag pull-left'></span>
<span class='partner-country pull-left'>Czech Republic</span>
<span class='partner-count pull-right'>2</span>
</div>
<div class='partner-info collapse' id='collapse-05'>
<div class='partner-block' id='partner-0141'><div class='partner-top clearfix'><span class='partner-name'>3D STUDIO WEin3D</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0160'><div class='partner-top clearfix'><span class='partner-name'>3Dees Centre for 3D Printing</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-06' data-toggle='collapse' href='#collapse-06' id='map-06'>
<span class='flag hu pull-left'></span>
<span class='partner-country pull-left'>Hungary</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-06'>
<div class='partner-block' id='partner-0145'><div class='partner-top clearfix'><span class='partner-name'>FreeDee Printing Solutions</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-07' data-toggle='collapse' href='#collapse-07' id='map-07'>
<span class='flag it pull-left'></span>
<span class='partner-country pull-left'>Italy</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-07'>
<div class='partner-block' id='partner-0153'><div class='partner-top clearfix'><span class='partner-name'>Nicola Zucca</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-08' data-toggle='collapse' href='#collapse-08' id='map-08'>
<span class='flag jp pull-left'></span>
<span class='partner-country pull-left'>Japan</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-08'>
<div class='partner-block' id='partner-0106'><div class='partner-top clearfix'><span class='partner-name'>Datadesign Co., Ltd.</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-09' data-toggle='collapse' href='#collapse-09' id='map-09'>
<span class='flag kw pull-left'></span>
<span class='partner-country pull-left'>Kuwait</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-09'>
<div class='partner-block' id='partner-0120'><div class='partner-top clearfix'><span class='partner-name'>3D UTOPIA</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-010' data-toggle='collapse' href='#collapse-010' id='map-010'>
<span class='flag ng pull-left'></span>
<span class='partner-country pull-left'>Nigeria</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-010'>
<div class='partner-block' id='partner-0133'><div class='partner-top clearfix'><span class='partner-name'>3D Makery Nigeria</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-011' data-toggle='collapse' href='#collapse-011' id='map-011'>
<span class='flag pull-left ru'></span>
<span class='partner-country pull-left'>Russian Federation</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-011'>
<div class='partner-block' id='partner-0144'><div class='partner-top clearfix'><span class='partner-name'>3D STUDIO SPB</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-012' data-toggle='collapse' href='#collapse-012' id='map-012'>
<span class='flag gb pull-left'></span>
<span class='partner-country pull-left'>United Kingdom</span>
<span class='partner-count pull-right'>2</span>
</div>
<div class='partner-info collapse' id='collapse-012'>
<div class='partner-block' id='partner-0149'><div class='partner-top clearfix'><span class='partner-name'>MY3DIMAGE</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-0150'><div class='partner-top clearfix'><span class='partner-name'>MY3DIMAGE</span><div class='partner-distance'></div></div></div>
</div>
</li>
</ul>
<ul class='f32 partner-list' data-index='1'>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-10' data-toggle='collapse' href='#collapse-10' id='map-10'>
<span class='flag pull-left us'></span>
<span class='partner-country pull-left'>United States</span>
<span class='partner-count pull-right'>2</span>
</div>
<div class='partner-info collapse' id='collapse-10'>
<div class='partner-block' id='partner-1146'><div class='partner-top clearfix'><span class='partner-name'>Cokreeate</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-1167'><div class='partner-top clearfix'><span class='partner-name'>Digital Scan 3D LLC – Portland, OR</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-11' data-toggle='collapse' href='#collapse-11' id='map-11'>
<span class='au flag pull-left'></span>
<span class='partner-country pull-left'>Australia</span>
<span class='partner-count pull-right'>2</span>
</div>
<div class='partner-info collapse' id='collapse-11'>
<div class='partner-block' id='partner-1161'><div class='partner-top clearfix'><span class='partner-name'>3DMEK</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-1165'><div class='partner-top clearfix'><span class='partner-name'>Technology Hub</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-12' data-toggle='collapse' href='#collapse-12' id='map-12'>
<span class='ca flag pull-left'></span>
<span class='partner-country pull-left'>Canada</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-12'>
<div class='partner-block' id='partner-1142'><div class='partner-top clearfix'><span class='partner-name'>my3dagency</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-13' data-toggle='collapse' href='#collapse-13' id='map-13'>
<span class='flag hr pull-left'></span>
<span class='partner-country pull-left'>Croatia</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-13'>
<div class='partner-block' id='partner-1143'><div class='partner-top clearfix'><span class='partner-name'>GEEKfactory</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-14' data-toggle='collapse' href='#collapse-14' id='map-14'>
<span class='cz flag pull-left'></span>
<span class='partner-country pull-left'>Czech Republic</span>
<span class='partner-count pull-right'>2</span>
</div>
<div class='partner-info collapse' id='collapse-14'>
<div class='partner-block' id='partner-1141'><div class='partner-top clearfix'><span class='partner-name'>3D STUDIO WEin3D</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-1160'><div class='partner-top clearfix'><span class='partner-name'>3Dees Centre for 3D Printing</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-15' data-toggle='collapse' href='#collapse-15' id='map-15'>
<span class='flag hu pull-left'></span>
<span class='partner-country pull-left'>Hungary</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-15'>
<div class='partner-block' id='partner-1145'><div class='partner-top clearfix'><span class='partner-name'>FreeDee Printing Solutions</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-16' data-toggle='collapse' href='#collapse-16' id='map-16'>
<span class='flag pull-left ru'></span>
<span class='partner-country pull-left'>Russian Federation</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-16'>
<div class='partner-block' id='partner-1144'><div class='partner-top clearfix'><span class='partner-name'>3D STUDIO SPB</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-17' data-toggle='collapse' href='#collapse-17' id='map-17'>
<span class='flag gb pull-left'></span>
<span class='partner-country pull-left'>United Kingdom</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-17'>
<div class='partner-block' id='partner-1150'><div class='partner-top clearfix'><span class='partner-name'>MY3DIMAGE</span><div class='partner-distance'></div></div></div>
</div>
</li>
</ul>
<ul class='f32 partner-list' data-index='2'>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-20' data-toggle='collapse' href='#collapse-20' id='map-20'>
<span class='flag lu pull-left'></span>
<span class='partner-country pull-left'>Luxembourg</span>
<span class='partner-count pull-right'>3</span>
</div>
<div class='partner-info collapse' id='collapse-20'>
<div class='partner-block' id='partner-2154'><div class='partner-top clearfix'><span class='partner-name'>Luxembourg Science Center</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-2136'><div class='partner-top clearfix'><span class='partner-name'>Artec 3D Headquarters</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-2148'><div class='partner-top clearfix'><span class='partner-name'>SnT, University of Luxembourg</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-21' data-toggle='collapse' href='#collapse-21' id='map-21'>
<span class='flag pull-left us'></span>
<span class='partner-country pull-left'>United States</span>
<span class='partner-count pull-right'>5</span>
</div>
<div class='partner-info collapse' id='collapse-21'>
<div class='partner-block' id='partner-2168'><div class='partner-top clearfix'><span class='partner-name'>Richman M Siansimbi</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-2166'><div class='partner-top clearfix'><span class='partner-name'>Digital Scan 3D LLC – Seattle Office</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-2164'><div class='partner-top clearfix'><span class='partner-name'>Artec Expo booth USA</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-2124'><div class='partner-top clearfix'><span class='partner-name'>Laser Imaging c/o 3D Makery</span><div class='partner-distance'></div></div></div>
<div class='partner-block' id='partner-2128'><div class='partner-top clearfix'><span class='partner-name'>Digital Scan 3D LLC – Portland, OR</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-22' data-toggle='collapse' href='#collapse-22' id='map-22'>
<span class='flag it pull-left'></span>
<span class='partner-country pull-left'>Italy</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-22'>
<div class='partner-block' id='partner-2153'><div class='partner-top clearfix'><span class='partner-name'>Nicola Zucca</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-23' data-toggle='collapse' href='#collapse-23' id='map-23'>
<span class='flag kw pull-left'></span>
<span class='partner-country pull-left'>Kuwait</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-23'>
<div class='partner-block' id='partner-2120'><div class='partner-top clearfix'><span class='partner-name'>3D UTOPIA</span><div class='partner-distance'></div></div></div>
</div>
</li>
<li class='clearfix'>
<div class='partner-country-block collapsed clearfix' data-parent='#map-accordion-24' data-toggle='collapse' href='#collapse-24' id='map-24'>
<span class='flag gb pull-left'></span>
<span class='partner-country pull-left'>United Kingdom</span>
<span class='partner-count pull-right'>1</span>
</div>
<div class='partner-info collapse' id='collapse-24'>
<div class='partner-block' id='partner-2149'><div class='partner-top clearfix'><span class='partner-name'>MY3DIMAGE</span><div class='partner-distance'></div></div></div>
</div>
</li>
</ul>
</div>
<div class='map-block'>
<div class='shadow'></div>
<div class='map-wrapper' id='map-canvas'></div>
<script>
  window.userLocations = [{"id":106,"name":"Datadesign Co., Ltd.","lat":"35.173338","lng":"136.906732","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Datadesign Co., Ltd.<\/strong><br>Sakuradoriohtsu Daiichiseimei Bldg, 12F<br>3-4-6 Nishiki, Naka-ku, Nagoya, Aichi 460-0003<br>Tel: <em>+81 529531588<\/em><br>Email: <a href=\"mailto:jboyd@datadesign.co.jp\">jboyd@datadesign.co.jp<\/a><br><a href=\"http://www.datadesign.co.jp\" target=\"_blank\">www.datadesign.co.jp<\/a>"},{"id":120,"name":"3D UTOPIA","lat":"29.302477","lng":"47.929844","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>3D UTOPIA<\/strong><br>10AM - 10PM<br>Xcite AlGhanim - Avenues Mall<br>Tel: <em>+965 66669830<\/em><br>Email: <a href=\"mailto:crm@3dutopia.com\">crm@3dutopia.com<\/a><br><a href=\"http://www.3dutopia.com\" target=\"_blank\">www.3dutopia.com<\/a>"},{"id":124,"name":"Laser Imaging  c/o 3D Makery","lat":"29.943761","lng":"-95.517046","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Laser Imaging c/o 3D Makery<\/strong><br>Mon-Sat 10am - 9pm; Sun 11am - 7pm <br>11101 Cutten Rd. Suite 101<br>Houston, TX 77066<br>Tel: <em>281.286.1338<\/em>"},{"id":133,"name":"3D Makery Nigeria","lat":"6.588108","lng":"3.36228","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>3D Makery Nigeria<\/strong><br>71 Opebi Road, Ikeja, Lagos<br>Email: <a href=\"mailto:3dmakerynigeria@gmail.com\">3dmakerynigeria@gmail.com<\/a>"},{"id":136,"name":"Artec 3D Headquarters","lat":"49.639024","lng":"6.145196","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Artec 3D Headquarters<\/strong><br>09:00 - 18:00<br>2, rue Jean Engling<br>L-1466 Luxembourg<br>Tel: <em>+352 26008643<\/em><br>Email: <a href=\"mailto:info@artec-group.com\">info@artec-group.com<\/a><br><a href=\"https://www.artec3d.com/hardware/shapifybooth\" target=\"_blank\">www.artec3d.com/hardware/shapifybooth<\/a>"},{"id":141,"name":"3D STUDIO WEin3D","lat":"50.08922","lng":"14.429512","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>3D STUDIO WEin3D<\/strong><br>Mo- SU 9.00-21.00<br>Namestí Republiky 1078/1 110 00 Prague Czech Republic<br>Shopping centrum Palladium, floor +1<br>Tel: <em>+420 776 876 183<\/em><br>Email: <a href=\"mailto:wein3dcz@gmail.com\">wein3dcz@gmail.com<\/a><br><a href=\"http://www.wein3d.com\" target=\"_blank\">www.wein3d.com<\/a>"},{"id":142,"name":"my3dagency","lat":"43.636331","lng":"-79.425874","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>my3dagency<\/strong><br>Monday to Friday 9am - 6pm<br>219 Dufferin Street suite 10c Toronto, ON M6K 3J1<br>Tel: <em>416 509 9030 <\/em><br>Email: <a href=\"mailto:michael@my3dagency.com\">michael@my3dagency.com<\/a><br><a href=\"http://www.my3dagency.com\" target=\"_blank\">www.my3dagency.com<\/a>"},{"id":143,"name":"GEEKfactory","lat":"46.295306","lng":"16.343815","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>GEEKfactory<\/strong><br>every day, anytime of the day<br>Zagrebacka 89, 42 000 Varazdin, Croatia<br>Tel: <em>+385 98 1394 505<\/em><br>Email: <a href=\"mailto:vedran@geek-design.hr\">vedran@geek-design.hr<\/a><br><a href=\"http://www.geek-design.hr\" target=\"_blank\">www.geek-design.hr<\/a>"},{"id":144,"name":"3D STUDIO SPB","lat":"59.969371","lng":"30.315635","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>3D STUDIO SPB<\/strong><br>9am - 7pm<br>197022 Russia, Saint-Petersburg, prospekt Medikov 3A<br>Tel: <em>+7 911 146 3300<\/em><br>Email: <a href=\"mailto:varlamovsv@gmail.com\">varlamovsv@gmail.com<\/a><br><a href=\"https://vk.com/3dstudio_spb\" target=\"_blank\">vk.com/3dstudio_spb<\/a>"},{"id":145,"name":"FreeDee Printing Solutions","lat":"47.493972","lng":"19.064932","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>FreeDee Printing Solutions<\/strong><br>Monday to friday 10:00 am to 6:00 pm<br>Hungary, 1088 Budapest, Szentkiralyi utca 8<br>Tel: <em>0670 600 3129<\/em><br>Email: <a href=\"mailto:info@freedee.hu\">info@freedee.hu<\/a>"},{"id":146,"name":"Cokreeate","lat":"34.100397","lng":"-118.116378","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>Cokreeate<\/strong><br>M-F - 11:30-6pm Sat 12-3pm<br>1019 E. Main st unit b Alhambra CA 91801<br>Tel: <em>6263137885<\/em><br>Email: <a href=\"mailto:Sales@cokreeate.com\">Sales@cokreeate.com<\/a><br><a href=\"http://www.cokreeate.com\" target=\"_blank\">www.cokreeate.com<\/a>"},{"id":149,"name":"MY3DIMAGE","lat":"53.090757","lng":"-2.416123","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>MY3DIMAGE<\/strong><br>Technology House Southmere Court<br>Electra Way Crewe Business Park CW1 6GU<br>Tel: <em>+44 (0)1270 216000<\/em><br><a href=\"http://www.my3dimage.com/my3dimage/\" target=\"_blank\">www.my3dimage.com/my3dimage/<\/a>"},{"id":150,"name":"MY3DIMAGE","lat":"53.090757","lng":"-2.416123","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>MY3DIMAGE<\/strong><br>Technology House Southmere Court<br>Electra Way Crewe Business Park CW1 6GU<br>Tel: <em>+44 (0)1270 216000<\/em><br><a href=\"http://www.my3dimage.com/my3dimage/\" target=\"_blank\">www.my3dimage.com/my3dimage/<\/a>"},{"id":154,"name":"Luxembourg Science Center","lat":"49.522475","lng":"5.893491","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Luxembourg Science Center<\/strong><br>50, rue Emile Mark<br>L-4620 Differdange<br>Tel: <em>26581228<\/em><br>Email: <a href=\"mailto:info@science-center.lu\">info@science-center.lu<\/a><br><a href=\"http://www.science-center.lu/en\" target=\"_blank\">www.science-center.lu/en<\/a>"},{"id":160,"name":"3Dees Centre for 3D Printing","lat":"50.113231","lng":"14.479669","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>3Dees Centre for 3D Printing<\/strong><br>Mon - Fri 09:00 - 17:00<br>U Pekarky 484/1A, 180 00, Prague<br>Building A, 2nd Floor<br>Tel: <em>+420 601 583 269<\/em><br>Email: <a href=\"mailto:3dees@3dees.cz\">3dees@3dees.cz<\/a><br><a href=\"http://3dees.cz\" target=\"_blank\">3dees.cz<\/a>"},{"id":161,"name":"3DMEK","lat":"-33.708997","lng":"150.948845","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>3DMEK<\/strong><br>6 Botanical Drive Kellyville, NSW 2155<br>Tel: <em>+61 421 080 475<\/em><br>Email: <a href=\"mailto:kiran@3dmek.com.au\">kiran@3dmek.com.au<\/a>"},{"id":165,"name":"Technology Hub","lat":"-16.914728","lng":"145.755156","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>Technology Hub<\/strong><br>Mon-Fri 9 AM - 6 PM<br>439 Severin Street, Cairns, QLD, 4870<br>Tel: <em>+61 07 4221 1864<\/em><br>Email: <a href=\"mailto:Hello@technologyhub.com.au\">Hello@technologyhub.com.au<\/a><br><a href=\"http://technologyhub.com.au\" target=\"_blank\">technologyhub.com.au<\/a>"},{"id":148,"name":"SnT, University of Luxembourg","lat":"49.625650","lng":"6.159798","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>SnT, University of Luxembourg<\/strong><br>Email: <a href=\"mailto:shapify3D@uni.lu\">shapify3D@uni.lu<\/a>"},{"id":164,"name":"Artec Expo booth USA","lat":"37.383346","lng":"-121.980050","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Artec Expo booth USA<\/strong><br>2880 Lakeside Dr #135<br>Santa Clara, CA 95054<br>Tel: <em>(669) 292 5611<\/em><br>Email: <a href=\"mailto:support@artec-group.com\">support@artec-group.com<\/a>"},{"id":128,"name":"Digital Scan 3D LLC","lat":"45.502805","lng":"-122.675848","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Digital Scan 3D LLC<\/strong><br>8am - 5pm<br>25530 74th Avenue S.<br>Kent, WA 98032<br>Tel: <em>(503) 388-8888<\/em><br>Email: <a href=\"mailto:Info@digitalscan3d.com\">Info@digitalscan3d.com<\/a>"},{"id":166,"name":"Digital Scan 3D LLC Seattle","lat":"47.372453","lng":"-122.242148","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Digital Scan 3D LLC Seattle<\/strong><br>8am - 5pm<br>25530 74th Avenue S.<br>Kent, WA 98032<br>Tel: <em>(206) 338 2112<\/em>"},{"id":167,"name":"Digital Scan 3D LLC Portland","lat":"45.502805","lng":"-122.675848","localable_type":"User","location_type":"lt_eva","formated_info":"<strong>Digital Scan 3D LLC Portland<\/strong><br>8am - 5pm<br>2828 SW Kelly Avenue<br>Portland, OR 97201<br>Tel: <em>(503) 388-8888<\/em>"},{"id":168,"name":"Richman M Siansimbi","lat":"45.502805","lng":"-122.675848","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Richman M Siansimbi<\/strong><br>8am to 4pm<br>2828 S Kelly Avenue, Suite A<br>Tel: <em>15037576550<\/em>"},{"id":169,"name":"3D Scan STL","lat":"38.690550","lng":"-90.399008","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>3D Scan STL<\/strong><br>Email: <a href=\"mailto:info@3dscanstl.com\">info@3dscanstl.com<\/a>"},{"id":153,"name":"Nicola Zucca","lat":"39.890228","lng":"8.593074","localable_type":"BoothOwnership","location_type":"lt_booth","formated_info":"<strong>Nicola Zucca<\/strong><br>Oristano"}]
</script>
</div>
</div>



















































<style is:global>
  /* Скрываем родной Google InfoWindow */
  .gm-style-iw-a { display: none !important; }
  /* Скрываем geo-ошибку */
  #notifications { display: none !important; }

  #sp-info {
    position: fixed;
    top: 160px; right: 30px;
    width: 270px;
    background: #fff;
    border-radius: 8px;
    padding: 18px 22px 16px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.22);
    z-index: 99999;
    font-family: "PT Sans", sans-serif;
    font-size: 13px; line-height: 1.6;
    display: none;
  }
  #sp-info.sp-visible {
    display: block !important;
  }
  #sp-info strong { display:block; font-size:15px; color:#222; margin-bottom:5px; }
  #sp-info em { font-style:normal; }
  #sp-info a { color:#e8681e; }
  #sp-close {
    position:absolute; top:8px; right:12px;
    font-size:22px; line-height:1; cursor:pointer;
    color:#bbb; background:none; border:none; padding:0;
  }
  #sp-close:hover { color:#333; }
</style>

<script is:inline>
document.addEventListener('DOMContentLoaded', function() {

  /* --- панель в body --- */
  var panel = document.createElement('div');
  panel.id = 'sp-info';
  var closeBtn = document.createElement('button');
  closeBtn.id = 'sp-close';
  closeBtn.innerHTML = '&times;';
  var infoBody = document.createElement('div');
  panel.appendChild(closeBtn);
  panel.appendChild(infoBody);
  document.body.appendChild(panel);

  closeBtn.onclick = function(e) {
    e.stopPropagation();
    panel.classList.remove('sp-visible');
  };

  function showInfo(loc) {
    infoBody.innerHTML = loc.formated_info || '';
    panel.classList.add('sp-visible');
  }

  /* --- capture на document --- */
  document.addEventListener('click', function(e) {
    if (panel.contains(e.target)) return;
    var el = e.target;
    while (el && el !== document.body) {
      if (el.className && typeof el.className === 'string' &&
          el.className.indexOf('partner-block') !== -1) {
        var id = parseInt((el.id || '').replace('partner-', '').replace(/^0+/, ''), 10);
        var locs = window.userLocations || [];
        for (var i = 0; i < locs.length; i++) {
          if (parseInt(locs[i].id, 10) === id) {
            showInfo(locs[i]);
            var mw = window.spf && window.spf.mapWidget;
            if (mw && mw.map) {
              try {
                mw.map.panTo({ lat: parseFloat(locs[i].lat), lng: parseFloat(locs[i].lng) });
                mw.map.setZoom(10);
              } catch(ex) {}
            }
            break;
          }
        }
        return;
      }
      el = el.parentElement;
    }
  }, true);

  /* --- патчим windowClose --- */
  function patchSpf() {
    var mw = window.spf && window.spf.mapWidget;
    if (!mw) { setTimeout(patchSpf, 50); return; }
    var noop = function() {};
    mw.windowClose        = noop;
    mw.hideInfoWindow     = noop;
    mw.closeInfoWindow    = noop;
    mw.hideAllInfoWindows = noop;
  }
  patchSpf();

  /* --- overflow fix --- */
  function fixOverflow(node) {
    if (!node || node.nodeType !== 1) return;
    if (node.style && node.style.overflow === 'hidden') node.style.overflow = 'visible';
    if (node.querySelectorAll) {
      var els = node.querySelectorAll('[style*="overflow: hidden"],[style*="overflow:hidden"]');
      for (var i = 0; i < els.length; i++) els[i].style.overflow = 'visible';
    }
  }
  function watchCanvas() {
    var canvas = document.getElementById('map-canvas');
    if (!canvas) { setTimeout(watchCanvas, 200); return; }
    new MutationObserver(function(ms) {
      ms.forEach(function(m) {
        if (m.type === 'attributes') fixOverflow(m.target);
        m.addedNodes.forEach(fixOverflow);
      });
    }).observe(canvas, { subtree:true, childList:true, attributes:true, attributeFilter:['style'] });
    fixOverflow(canvas);
  }
  watchCanvas();

});
</script>

</Layout>